/*
 * styles.css
 * Joe Kimpel
 * CS 667
 * 8.4.12
 * 
 * Stylesheet for Final Project
 *
 */

.error { font-weight: bold;
         color: red;
}

tr.evenRow{
	background-color: gray;
}

tr.oddRow{
	background-color: lightgray;
	
}
tbody>tr:first-child>td:first-child{
	background-color: #B2FFB2;
}
table table tbody>tr:first-child>td:first-child{
	background-color: white;
}
tbody>tr:first-child tbody>tr:first-child>td:first-child{
	background-color: #FF8080;
}