/*
 * styles.css
 * Joe Kimpel
 * CS 667
 * 7.24.12
 * 
 * Stylesheet for HW3
 *
 */

.error { font-weight: bold;
         color: red;
}

tr.evenRow{
	background-color: gray;
}

tr.oddRow{
	background-color: lightgray;
	
}